.card {
    width: 290px;
    background-color: #fff;
    border-radius: 8px;
    display: flex
;
    overflow: hidden;
    box-shadow: 0 2px 4px #0003;
    min-height: 310px !important;
    flex-direction: column;
    justify-content: space-between;}

.image-container[_ngcontent-ng-c931267033] {
    width: 290px;
    height: 230px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;}